.appContainer {
}

.bodySection {
  display: flex;
  min-height: 80vh;
  background-color: #fff;
  color: black;
}

.darkMode {
  background-color: rgb(33, 30, 30);
  color: #fff;
}

.foodItemsSection {
  width: 60%;
}

.foodDescriptionSection {
  width: 40%;
  text-align: center;
}
